.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 12px;
    width: fit-content;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 55px;
}

.li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.added {
    position: absolute;
    top: -70px;
    left: 12px;
}

.deleted {
    position: absolute;
    bottom: -85px;
    left: 12px;
}