.container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: 0 auto;
    max-width: 850px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.ul {

}