.container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    max-width: 512px;
    gap: 12px;
}
.ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 75px;
}

.li {
    list-style-type: none;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.img {
    max-width: 250px;
}