.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 52px;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}