.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 52px;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.columns {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: flex-end;
    list-style-type: none;
    gap: 10px;
    min-height: 340px;
}

.btn {
    width: 220px;
}